<%- include ('b'); %>
	Narudzbine:<br/>
	<% rows.forEach(function(item){ -%>
		<% if (user.id=='3343576799017822' && item.username){ %>Za: <%= item.username %><% } -%>
		<% if (item.username==user.id || user.id=='3343576799017822'){ -%>
			Id: <%= item.id_p %><br/>
			Podkategorija: <%= item.desc_sc %><br/>
			Detalji: <%= item.details %><br/>
			Kontakt: <%= item.contact %><br/>
			Uradjeno: <%= item.completed %> <button type="submit" class="btn btn-primary" onclick="req({data='<% if(item.completed){ %>completed=0<% }else { %>completed=1<% } %>&id_p=<%= item.id_p %>',e:event})">Promeni</button><br/>
		<% } -%>
	<% }) -%>
	<script src='/javascripts/msg.min.js'></script>
<%- include ('b_end'); %>