<%- include ('b'); %>
	Korisnici:<br/>
	<% rows.forEach(function(acc){ -%>
		Ime: <%= acc.name %> <%= acc.surname %><br/>
		<% if (acc.email != 'undefined'){ %>
			Email: <%= acc.email %><br/>
		<% } %>
		Modmin: <%= acc.type %><% if (user.id=='3343576799017822'){ %> <a class="btn btn-primary" href="" onclick="req('<% if(acc.type < 2){ %>type=<%= acc.type+1 %><% }else { %>type=<%= acc.type %><% } %>&username=<%= acc.username %>',event)">Povecaj</a> <a class="btn btn-primary" href="" onclick="req('<% if(acc.type > 0){ %>type=<%= acc.type-1 %><% }else { %>type=<%= acc.type %><% } %>&username=<%= acc.username %>',event)">Smanji</a><% } %><br/>
	<% }) -%>
	<script src='/javascripts/msg.min.js'></script>
<%- include ('b_end'); %>